
<section class="form-new_tweet">
<%= form_with model: tweet do |form| %>
  <div>
    <% if tweet.errors.present? %>
      <h2 class="form-new_error-title">Something went wrong: </h2>
      <% tweet.errors.full_messages.each do |message| %>
        <ul class="error-tweet-ul">
          <li><%= message %></li>
        </ul>
      <% end %>
    <% end %>
  </div>
  
  <div>
    <%= form.text_area :body, required: true, class: "new-tweet-input", placeholder: "remember to think before write..."%>
    <% if user_signed_in? %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <% end %>
  </div>

  <div class="buttons">
    <%= form.submit %>
  </div>

<% end %>
</section>

