<section class = "tweets">
<h1 class="title-tweet">Home</h1>

<%= link_to "New tweet", new_tweet_path, class: "new-tweet" %>

<div id="tweets">
  <% @tweets.each do |tweet| %>
    <p><%= tweet.user.name %> @<%= tweet.user.username %></p>
    <p><%= time_ago_in_words(tweet.created_at) %></p>
    <p><%= tweet.body %></p>
      <%= link_to "Show this tweet", tweet %>
    </p>
  <% end %>
</div>
</section>