<!DOCTYPE html>
<html>
  <head>
    <title>Tweetable</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path("twetable-favicon.png") %>
  </head>

  <body>
    <div class="container">
      <header>
        <div class="menu-logo-layout">
          <div class="logo-size">
            <%= link_to(image_tag("twetable-logo.png"), root_path) %>
          </div>
          <div>
            <%= image_tag "menu.svg", class: "menu" %>
          </div>
        </div>
          <br/>
          <div class="menu-hidden">
            <div class="layout-center-text">
              <% if user_signed_in? %>
                <p class="nav-text">Thanks for using Tweetable!</p><br/>
                <p><%= link_to " Profile", user_path(current_user), class:"link"%></p><br/>
                <button class="nav-button button-logout"><%= link_to "Log out", destroy_user_session_path, class:"button-text", data: { turbo_method: :delete } %></button>
                <% else %>
                <p class="nav-text">Login to start the tweeting madness!</p>
                <button class="nav-button"><%= link_to "Login", new_user_session_path, class: "button-text" %></button>
              <% end %>
            </div>
          </div>
      </header>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
